main{
  height: 200rem;
  background-color: #030202 ;
}

.top5-crypto-container
{
  margin-top: 15rem;
  height: 30rem;
  width: 100%;
  display: flex;
  background-color: #050404 ;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.content-container h3{
  font-size: 5rem;
  color: #fff;
}






ul{
  display: flex;
  flex-wrap: wrap;
  // padding: 2rem;
  margin: 2rem;
  // background-color: red;
  gap: 5rem;
  // margin: 1rem;
}

ul li {
  cursor: pointer;
  min-width: 15rem;
  max-width: 15rem;
  height: 25rem;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  // gap: 1rem;
  &:hover{
    border: 3px solid #34568B ;
  }
}

ul li img{
  border: 3px solid #000;
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;

}
