@import '../../../styles.scss';

*{
  color: #fff;
}
.top{
  width: 100%;
  background-color: $main-color;
  // padding: .5rem;
  border-bottom: 1px solid #fff;
  border-radius: .5rem;
}

.logo-container span{
  width: 3rem;
    font-size: 2rem;
  color: #fff  ;
  text-shadow: 0px 0px 1px #fff, -1px 0px 2px #fff;
  font-weight: 600;
  letter-spacing: .5rem;
  cursor: pointer;

}


.h1-container{
  margin-top: 20rem;
  // background-color: red;
  // min-height: 0rem;
  // max-height: 25rem;

    gap: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;


}

.h1-container h1{
  letter-spacing: .2rem;
  font-size: 4rem;
  text-align: center;
  // min-height: 25rem;
  // max-height: 25rem;

  }

  .h1-container h2{
    letter-spacing: .2rem;
  font-size: 3rem;
  text-align: center;

  // margin-left: 2.5rem;

  }


header{
height: 60rem;
background-color: $main-color;

}

h1 strong{
  color: $main-yellow-color;
}


.content-container{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media only screen and (min-width: 750px){
  .h1-container h1{
    font-size: 7rem;


    }
  .h1-container h2{
    font-size: 5rem;



    }
}

