/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:10px;
  font-family: 'Roboto', sans-serif !important;
  scroll-behavior: smooth !important;

}


ul, li {
  list-style: none;
}
