@import '../../../styles.scss';

.prices-main-background-container{
  background-color:  $main-color;
  height: 700vh;
}

.content-container{
  width: 100%;
  height: 50rem;

}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;




}

li {
  color: #fff;
}

li span{
  color: $main-yellow-color;
  font-weight: 600;
  letter-spacing: .1rem;
}

ul li {
  width: calc(25rem);
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #040404;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover{
    border: 1px solid $main-yellow-color;
    box-shadow: 0px 0px 6px $main-yellow-color;

  }

}


ul li img{
  width: 6rem;
  height: 6rem;
  padding: 1rem;
}




.h3-container{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h3-container h3{
  font-size: 3.5rem;
  color: #fff;
}

.green-text {
  color: $main-yellow-color !important;
}

.grey-text {
  color: rgb(196, 196, 196) !important;
}

.search-container{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-container input{
  width: 30rem;
  height: 5rem;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #030202;
  border: 1px solid #e4e3e3;
  border-radius: 1rem;
  cursor: pointer;
  &:hover{
    border: 1px solid $main-yellow-color;
    box-shadow: 0px 0px 6px $main-yellow-color;
  }


}
.search-container input::placeholder{
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.7rem;
  color: #fff;

  font-weight: 700;
  text-transform: uppercase;


}

.search-container input:focus::placeholder{
color: transparent;
}

.green{
  color: lime;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: .2rem;

}

@media only screen and (max-width: 1024px){

  .prices-main-background-container{
    height: 4000vh;
  }

  .h3-container{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  ul{
    justify-content: center;
  }

}

